<app-header></app-header>

<h2>Movies:</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Duración</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        <!--
        "track" function:
        it helps Angular identify which items have changed, are added, or are removed
        -->
        @for (movie of movieService.movies; track $index) {
        <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ movie.name }}</td>
            <td>{{ movie.duration }} mins</td>
            <td>{{ movie.director }}</td>
        </tr>
        }
    </tbody>
</table>